<!DOCTYPE html>
<!-- <html lang="en"> -->
<head>
<title>图诗</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="/static/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
<link href="/static/css/style.css" type="text/css" rel="stylesheet" media="all">   
<link href="/static/css/slider.css" type="text/css" rel="stylesheet" media="all"> 
<link href='/static/css/simplelightbox.min.css' rel='stylesheet' type='text/css'>   
<!-- //Custom Theme files -->
<!-- font-awesome icons -->
<link href="/static/css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome icons -->
<!-- js -->
<script src="/static/js/jquery-2.2.3.min.js"></script> 
<!-- //js -->

<link type="text/css" rel="stylesheet" href="/static/css/fileinput.css" />
<link type="text/css" rel="stylesheet" href="/static/css/fileinput.min.css" />
<script type="text/javascript" src="/static/js/fileinput.js"></script>
<script type="text/javascript" src="/static/js/fileinput.min.js"></script>
<script type="text/javascript" src="/static/js/fileinput_locale_zh.js"></script>

<!-- web-fonts --> 
<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<link href="http://fonts.googleapis.com/css?family=Tinos:400,400i,700,700i" rel="stylesheet"> 
<!-- //web-fonts -->
<!-- start-smooth-scrolling -->
<script type="text/javascript" src="/static/js/move-top.js"></script>
<script type="text/javascript" src="/static/js/easing.js"></script>	
<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
		
		$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
</script>
<!-- //end-smooth-scrolling -->	
</head>
<body>
	<!-- banner -->
	<div class="banner"> 
		<div class="cd-radial-slider-wrapper"> 
			<div class="header agileinfo-header"><!-- header -->
				<nav class="navbar navbar-default">
					<div class="container">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<h1><a href="index">Poem<span>Picture</span></a></h1>
						</div> 
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav nav-center"> 
								<li><a href="index" class="w3ls-hover active">Home</a></li>
								<li><a href="#about" class="btn w3ls-hover scroll">About</a></li> 
								<li><a href="#services" class="btn w3ls-hover scroll">Services</a></li> 
								<li><a href="#team" class="btn w3ls-hover scroll">Team</a></li>
								<li><a href="#gallery" class="btn w3ls-hover scroll">Work</a></li>
								<li><a href="#contact" class="btn w3ls-hover scroll">Contact</a></li>
							</ul>	  
							<ul class="nav navbar-nav navbar-right"> 
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-phone" aria-hidden="true"></i></a>
									<ul class="dropdown-menu">
										<li><a href="#"><b>Office :</b> +222 11 4444</a></li>  
										<li><a href="#"><b>Office1 :</b> +233 11 2345</a></li>    
									</ul>
								</li> 
							</ul>
							<div class="clearfix"> </div>
						</div><!-- //navbar-collapse -->
						<!-- cd-search -->
						<div class="cd-main-header">
							<ul class="cd-header-buttons">
								<li><a class="cd-search-trigger" href="#cd-search"> <span></span></a></li>
							</ul> <!-- cd-header-buttons -->
						</div>  
						<div id="cd-search" class="cd-search agileinfo">
							<form action="#" method="post">
								<input name="Search" type="search" placeholder="Search...">
							</form>
						</div> 
						<!-- //cd-search -->
					</div><!-- //container-fluid -->
				</nav>
			</div><!-- //header -->	
			<ul class="cd-radial-slider" data-radius1="60" data-radius2="1364" data-centerx1="110" data-centerx2="1290">
				<li class="visible"> 
					<div class="svg-wrapper">
						<svg viewBox="0 0 1400 800">
							<title>Animated SVG</title>
							<defs>
								<clipPath id="cd-image-1">
									<circle id="cd-circle-1" cx="110" cy="400" r="1364"/>
								</clipPath>
							</defs> 
							<image height='800px' width="1400px" clip-path="url(#cd-image-1)" xlink:href="/static/images/1.jpg"></image>
						</svg>
					</div> <!-- .svg-wrapper --> 
					<div class="cd-radial-slider-content">
						<div class="wrapper">
							<div>
								<h2>看图对联<span> 作诗</span> </h2>
								<a data-target="#myModal" class="w3ls-btn button8 scroll" data-toggle="modal" >start</a>
							</div>
						</div>
					</div> <!-- .cd-radial-slider-content -->
				</li> 
				<li class="next-slide">
					<div class="svg-wrapper">
						<svg viewBox="0 0 1400 800">
							<title>Animated SVG</title>
							<defs>
								<clipPath id="cd-image-2">
									<circle id="cd-circle-2" cx="1290" cy="400" r="60"/>
								</clipPath>
							</defs> 
							<image height='800px' width="1400px" clip-path="url(#cd-image-2)" xlink:href="/static/images/2.jpg"></image>
						</svg>
					</div> <!-- .svg-wrapper --> 
					<div class="cd-radial-slider-content">
						<div class="wrapper">
							<div> 
								<h3>看图对联<span> 作诗 </span> </h3>
								<a href="#about" class="w3ls-btn button8 scroll">start</a>
							</div>
						</div>
					</div> <!-- .cd-radial-slider-content -->
				</li> 
				<li>
					<div class="svg-wrapper">
						<svg viewBox="0 0 1400 800">
							<title>Animated SVG</title>
							<defs>
								<clipPath id="cd-image-3">
									<circle id="cd-circle-3" cx="110" cy="400" r="60"/>
								</clipPath>
							</defs> 
							<image height='800px' width="1400px" clip-path="url(#cd-image-3)" xlink:href="/static/images/1.jpg"></image>
						</svg>
					</div> <!-- .svg-wrapper --> 
					<div class="cd-radial-slider-content">
						<div class="wrapper">
							<div> 
								<h3>看图对联<span> 作诗</span> </h3>
								<a href="#about" class="w3ls-btn button8 scroll">start</a>
							</div>
						</div>
					</div> <!-- .cd-radial-slider-content -->
				</li> 
				<li class="prev-slide">
					<div class="svg-wrapper">
						<svg viewBox="0 0 1400 800">
							<title>Animated SVG</title>
							<defs>
								<clipPath id="cd-image-4">
									<circle id="cd-circle-4" cx="110" cy="400" r="60"/>
								</clipPath>
							</defs> 
							<image height='800px' width="1400px" clip-path="url(#cd-image-4)" xlink:href="/static/images/2.jpg"></image>
						</svg>
					</div> <!-- .svg-wrapper --> 
					<div class="cd-radial-slider-content">
						<div class="wrapper">
							<div> 
								<h3>看图对联<span> 作诗</span> </h3>
								<a href="#about" class="w3ls-btn button8 scroll">Start</a>
							</div>
						</div>
					</div> <!-- .cd-radial-slider-content -->
				</li> 
			</ul> <!-- .cd-radial-slider --> 
			<ul class="cd-radial-slider-navigation">
				<li><a href="#0" class="next">Next</a></li>
				<li><a href="#0" class="prev">Prev</a></li>
			</ul> <!-- .cd-radial-slider-navigation -->
		</div> <!-- .cd-radial-slider-wrapper --> 
	</div>
	<!-- //banner --> 
	<!-- about -->
	<div class="about" id="about"> 
		<div class="container"> 
			<div class="agileits-title"> 
				<div class="col-md-6 agileits-title-left">
					<h6>- Welcome to</h6>
					<h3>Our Picture Poem</h3>
				</div>
				<div class="col-md-6 agileits-title-right">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at placerat ante. Praesent nulla nunc, pretium dapibus efficitur in, auctor eget elit. Lorem ipsum dolor sit amet</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="about-w3lsrow"> 
				<div class="col-md-7 col-sm-7 w3about-img"> 
					<div class="w3about-text"> 
						<h5 class="w3l-subtitle">- About Us</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at placerat ante. Praesent nulla nunc, pretium dapibus efficitur in, auctor eget elit. Lorem ipsum dolor sit amet</p>
					</div>
				</div> 
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>

	<!-- 模态框（Modal） -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">图片上传</h4>
				</div>
				<div class="modal-body">
					<form method=post enctype="multipart/form-data">
					<div class="file-loading">
						<input id="file-0a" class="file" type="file" data-theme="fas" name=file>
						<input type="submit" value="upload">
					</div>
				</form></div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal -->
	</div>



	<!-- //about --> 
	<div class="tlinks">Collect from <a href="http://www.cssmoban.com/"  title="网站模板">网站模板</a></div>
	<!-- services -->
	<div class="about services" id="services"> 
		<div class="container"> 
			<div class="agileits-title"> 
				<div class="col-md-6 agileits-title-left">
					<h6>- What we do</h6>
					<h3>Our Services</h3>
				</div>
				<div class="col-md-6 agileits-title-right">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at placerat ante. Praesent nulla nunc, pretium dapibus efficitur in, auctor eget elit. Lorem ipsum dolor sit amet</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="services-w3ls-row">
				<div class="col-md-3 col-sm-3 col-xs-6 services-grids">
					<div class="w3agile-servs-img">
						<div class="icon-holder">
							<span class="fa fa-gears icon" aria-hidden="true"></span>
						</div>
						<h4 class="mission">Fugiat Quo</h4>
						<p class="description">Phasellus at placerat ante nulla adipiscing elit</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6 services-grids">
					<div class="w3agile-servs-img">
						<div class="icon-holder">
							<span class="fa fa-group icon" aria-hidden="true"></span>
						</div>
						<h4 class="mission">Voluptas </h4>
						<p class="description">Phasellus at placerat ante nulla adipiscing elit</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6 services-grids">
					<div class="w3agile-servs-img">
						<div class="icon-holder">
							<span class="fa fa-briefcase icon" aria-hidden="true"></span>
						</div>
						<h4 class="mission">Quo fugiat</h4>
						<p class="description">Phasellus at placerat ante nulla adipiscing elit</p>
					</div>
				</div> 	
				<div class="col-md-3 col-sm-3 col-xs-6 services-grids">
					<div class="w3agile-servs-img">
						<div class="icon-holder">
							<span class="fa fa-list-alt icon" aria-hidden="true"></span>
						</div>
						<h4 class="mission">Voluptas</h4>
						<p class="description">Phasellus at placerat ante nulla adipiscing elit</p>
					</div>
				</div> 
				<div class="clearfix"> </div>
			</div>	 
		</div>
	</div>
	<!-- //services --> 
	<!-- features -->
	<div class="features">  
		<div class="tabs w3-agileits-tabs"> 
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li class="active"><a href="#home" aria-controls="home" data-toggle="tab"><span>Business</span></a></li>
				<li><a href="#profile" aria-controls="profile" data-toggle="tab"><span>Creative</span></a></li>
				<li><a href="#messages" aria-controls="messages" data-toggle="tab"><span>Support</span></a></li>
				<li><a href="#settings" aria-controls="settings" data-toggle="tab"><span>Marketing</span></a></li>
			</ul>
			<!-- Tab panes --> 
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="home"> 
					<div class="col-md-6 features-right">
						<div class="agileits-title"> 
							<h6>- Our Features</h6>
							<h3> Mauris commodo </h3>
						</div>
						<p>Fusce eget erat nunc. Sed fringilla sem vitae mi interdum commodo. Aliquam neque odio, viverra eget nisl id, vulputate malesuada lorem. Praesent quis ullamcorper lorem vulputate malesuada lorem.  </p>
					</div>
					<div class="col-md-6 features-left agileinfo-img">
					
					</div>
					<div class="clearfix"> </div>
				</div>
				<div role="tabpanel" class="tab-pane" id="profile"> 
					<div class="col-md-6 features-right">
						<div class="agileits-title"> 
							<h6>- Our Features</h6>
							<h3>Venenatis maecenas </h3>
						</div>
						<p>Fusce eget erat nunc. Sed fringilla sem vitae mi interdum commodo. Aliquam neque odio, viverra eget nisl id, vulputate malesuada lorem. Praesent quis ullamcorper lorem vulputate malesuada lorem.  </p>
					</div>
					<div class="col-md-6 features-left agileinfo-img2">
					
					</div>
					<div class="clearfix"> </div>
				</div>
				<div role="tabpanel" class="tab-pane" id="messages"> 
					<div class="col-md-6 features-right w3-agile">
						<div class="agileits-title"> 
							<h6>- Our Features</h6>
							<h3>Fusce eget</h3>
						</div>
						<p>Fusce eget erat nunc. Sed fringilla sem vitae mi interdum commodo. Aliquam neque odio, viverra eget nisl id, vulputate malesuada lorem. Praesent quis ullamcorper lorem vulputate malesuada lorem.  </p>
					</div>
					<div class="col-md-6 features-left agileinfo-img3">
					
					</div>
					<div class="clearfix"> </div>
				</div>
				<div role="tabpanel" class="tab-pane" id="settings"> 
					<div class="col-md-6 features-right">
						<div class="agileits-title"> 
							<h6>- Our Features</h6>
							<h3> Ut dapibus </h3>
						</div>
						<p>Fusce eget erat nunc. Sed fringilla sem vitae mi interdum commodo. Aliquam neque odio, viverra eget nisl id, vulputate malesuada lorem. Praesent quis ullamcorper lorem vulputate malesuada lorem.  </p>
					</div>
					<div class="col-md-6 features-left agileinfo-img4">
					
					</div>
					<div class="clearfix"> </div>
				</div>
			</div> 
		</div><!-- /tabs -->  
	</div>
	<!-- //features --> 
	<!-- team -->
	<div id="team" class="team">  
		<div class="container">
			<div class="agileits-title"> 
				<div class="col-md-6 agileits-title-left">
					<h6>- Meet our Team</h6>
					<h3>Professionals</h3>
				</div>
				<div class="col-md-6 agileits-title-right">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at placerat ante. Praesent nulla nunc, pretium dapibus efficitur in, auctor eget elit. Lorem ipsum dolor sit amet</p>
				</div>
				<div class="clearfix"> </div>
			</div> 
			<div class="team-row w3ls-team-row">  
				<div class="col-md-3 col-sm-3 col-xs-6 team-grids">   
					<div class="w3ls-effect">
						<img src="/static/images/t1.jpg" alt="img">
						<div class="view-caption">
							<h4>John Smith</h4> 
							<p>Designer</p>
						</div>
						<div class="wthree-icon">
							<a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
							<a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a> 
							<a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a> 
						</div>
					</div>    
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6 team-grids">   
					<div class="w3ls-effect">
						<img src="/static/images/t2.jpg" alt="img">
						<div class="view-caption">
							<h4>Thomson Doe</h4> 
							<p>Director</p>
						</div>
						<div class="wthree-icon">
							<a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
							<a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a> 
							<a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a> 
						</div>
					</div>    
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6 team-grids">   
					<div class="w3ls-effect">
						<img src="/static/images/t3.jpg" alt="img">
						<div class="view-caption">
							<h4>Smith Kevin</h4> 
							<p>Manager</p>
						</div>
						<div class="wthree-icon">
							<a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
							<a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a> 
							<a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a> 
						</div>
					</div>    
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6 team-grids">   
					<div class="w3ls-effect">
						<img src="/static/images/t4.jpg" alt="img">
						<div class="view-caption">
							<h4>Laura Hill</h4> 
							<p>Staff</p>
						</div>
						<div class="wthree-icon">
							<a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
							<a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a> 
							<a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a> 
						</div>
					</div>    
				</div>
				<div class="clearfix"> </div> 
			</div>
		</div>
	</div>
	<!-- //team -->
	<!-- gallery -->
	<div id="gallery" class="gallery">  
		<div class="container">
			<div class="agileits-title"> 
				<div class="col-md-6 agileits-title-left">
					<h6>- Our featured</h6>
					<h3>Work Projects</h3>
				</div>
				<div class="col-md-6 agileits-title-right">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at placerat ante. Praesent nulla nunc, pretium dapibus efficitur in, auctor eget elit. Lorem ipsum dolor sit amet</p>
				</div>
				<div class="clearfix"> </div>
			</div> 
		</div>
		<div class="agileinfo-gallery-row">
			<div class="col-md-3 col-sm-3 col-xs-6 w3gallery-grids">
				<a href="/static/images/img6.jpg" class="imghvr-hinge-right figure">
					<img src="/static/images/img6.jpg" alt="" title="Smart Buzz Image"/> 
					<div class="agile-figcaption">
					  <h4>Smart Buzz</h4>
					  <p>Phasellus elementum ullamcorper urna, eu rhoncus.</p>
					</div>
				</a> 
			</div> 
			<div class="col-md-3 col-sm-3 col-xs-6 w3gallery-grids">
				<a href="/static/images/img5.jpg" class="imghvr-hinge-right figure">
					<img src="/static/images/img5.jpg" alt="" title="Smart Buzz Image"/> 
					<div class="agile-figcaption">
					  <h4>Smart Buzz</h4>
					  <p>Phasellus elementum ullamcorper urna, eu rhoncus.</p>
					</div>
				</a> 
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6 w3gallery-grids">
				<a href="/static/images/img7.jpg" class="imghvr-hinge-right figure">
					<img src="/static/images/img7.jpg" alt="" title="Smart Buzz Image"/> 
					<div class="agile-figcaption">
					  <h4>Smart Buzz</h4>
					  <p>Phasellus elementum ullamcorper urna, eu rhoncus.</p>
					</div>
				</a> 
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6 w3gallery-grids">
				<a href="/static/images/img8.jpg" class="imghvr-hinge-right figure">
					<img src="/static/images/img8.jpg" alt="" title="Smart Buzz Image"/> 
					<div class="agile-figcaption">
					  <h4>Smart Buzz</h4>
					  <p>Phasellus elementum ullamcorper urna, eu rhoncus.</p>
					</div>
				</a> 
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6 w3gallery-grids">
				<a href="/static/images/img1.jpg" class="imghvr-hinge-right figure">
					<img src="/static/images/img1.jpg" alt="" title="Smart Buzz Image"/> 
					<div class="agile-figcaption">
					  <h4>Smart Buzz</h4>
					  <p>Phasellus elementum ullamcorper urna, eu rhoncus.</p>
					</div>
				</a> 
			</div> 
			<div class="col-md-3 col-sm-3 col-xs-6 w3gallery-grids">
				<a href="/static/images/img2.jpg" class="imghvr-hinge-right figure">
					<img src="/static/images/img2.jpg" alt="" title="Smart Buzz Image"/> 
					<div class="agile-figcaption">
					  <h4>Smart Buzz</h4>
					  <p>Phasellus elementum ullamcorper urna, eu rhoncus.</p>
					</div>
				</a> 
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6 w3gallery-grids">
				<a href="/static/images/img3.jpg" class="imghvr-hinge-right figure">
					<img src="/static/images/img3.jpg" alt="" title="Smart Buzz Image"/> 
					<div class="agile-figcaption">
					  <h4>Smart Buzz</h4>
					  <p>Phasellus elementum ullamcorper urna, eu rhoncus.</p>
					</div>
				</a> 
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6 w3gallery-grids">
				<a href="/static/images/img4.jpg" class="imghvr-hinge-right figure">
					<img src="/static/images/img4.jpg" alt="" title="Smart Buzz Image"/> 
					<div class="agile-figcaption">
					  <h4>Smart Buzz</h4>
					  <p>Phasellus elementum ullamcorper urna, eu rhoncus.</p>
					</div>
				</a> 
			</div>
			<div class="clearfix"> </div>
			<script type="text/javascript" src="/static/js/simple-lightbox.min.js"></script>
			<script>
				$(function(){
					var gallery = $('.agileinfo-gallery-row a').simpleLightbox({navText:		['&lsaquo;','&rsaquo;']});
				});
			</script>  
		</div> 
	</div>
	<!-- //gallery -->
	<!-- contact -->
	<div id="contact" class="contact">
		<div class="container">
			<div class="agileits-title"> 
				<div class="col-md-6 agileits-title-left">
					<h6>-Write a message</h6>
					<h3>Contact Us</h3>
				</div>
				<div class="col-md-6 agileits-title-right">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at placerat ante. Praesent nulla nunc, pretium dapibus efficitur in, auctor eget elit. Lorem ipsum dolor sit amet</p>
				</div>
				<div class="clearfix"> </div>
			</div>  
			<div class="contact-w3ls-row">
				<form action="#" method="post">
					<div class="col-md-5 col-sm-5 contact-right agileits-w3layouts">
						<textarea name="Message" placeholder="Message" required></textarea>
					</div>
					<div class="col-md-7 col-sm-7 contact-left agileits-w3layouts">
						<input type="text" name="First Name" placeholder="First Name" required="">
						<input class="email" name="Last Name" type="text" placeholder="Last Name" required="">
						<input type="text" name="Number" placeholder="Mobile Number" required="">
						<input class="email" name="Email" type="text" placeholder="Email" required="">
						<input type="submit" value="SUBMIT">
					</div> 
					<div class="clearfix"> </div> 
				</form>
			</div>  
		</div>
	</div>
	<!-- //contact -->
	<!-- address -->
	<div class="address w3layouts-address"> 
		<div class="col-md-6 address-left">
			<div class="agileits-title">  
				<h6>- Get in </h6>
				<h3>Touch</h3> 
			</div>
			<ul>
				<li><i class="fa fa-map-marker"></i> 123 San Sebastian, New York City USA.</li>
				<li><i class="fa fa-mobile"></i> 333 222 3333 </li>
				<li><i class="fa fa-phone"></i> +222 11 4444 </li>
				<li><i class="fa fa-envelope-o"></i> <a href="mailto:example@mail.com"> mail@example.com</a></li>
			</ul> 
		</div>
		<div class="col-md-6 address-right"> 
			<iframe src=""></iframe>
		</div>
		<div class="clearfix"> </div>
	</div>
	<!-- //address -->
	<!-- subscribe -->
	<div class="subscribe">  
		<div class="container">
			<div class="agileits-title">  
				<h6>- Subscribe our</h6>
				<h3>Newsletter</h3> 
			</div>
			<form action="#" method="post"> 
				<input type="text" name="email" placeholder="Enter your Email..." required="">
				<input type="submit" value="Subscribe">
			</form>
			<div class="clearfix"> </div> 
		</div>
	</div>

	<!-- search jQuery -->
	<script src="/static/js/search.js"></script>
	<!-- //search jQuery --> 
	<script src="/static/js/snap.svg-min.js"></script>
	<script src="/static/js/main.js"></script> <!-- Resource jQuery -->   
	<!-- smooth-scrolling-of-move-up -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/
			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>
	<!-- //smooth-scrolling-of-move-up -->   
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/bootstrap.js"></script>
</body>
</html>